---
const {item} = Astro.props
---
<a href="#" class="hover:scale-[1.05] transition-all duration-75 flex items-center gap-6">
					<picture class="w-12 h-12 ">
						<img src=`${item?.section_img}` alt=`${item?.section_img_alt}` class=" w-12 h-12">
				</picture>
	<section class="flex flex-col gap-3">
	    <div >
		<p class="font-bold text-blue-800">{item?.section_subtitle}</p>
		<p class="text-sm">{item?.section_intro}</p>
	    </div>
		<p class="text-sm font-semibold max-w-[22ch]">{item?.section_description}</p>
	</section>
</a>